<main class="login-page">

  <nav class="nav">
    <ul class="nav-list">
      <li class="nav-list-item"><a href="/">Home</a></li>
    </ul>
    <h1>The Tech Blog</h1>
  </nav>

  <section class="login-main">

    <div class="signup">
      <h1>Don't have an account yet?</h1>
      <form id="signup-form">
        <div class="form-field">
          <label for="username-field">Enter your username</label>
          <input type="text" id="username-field-signup" />
        </div>
        <div class="form-field">
          <label for="password-field">Enter your password</label>
          <input type="text" id="password-field-signup" />
        </div>
        <button id="signup-submit-button" type="submit">Sign Up</button>
      </form>

    </div>

    <div class="login">
      <h1>Already a member?</h1>
      <form id="login-form">
        <div class="form-field">
          <label for="username-field">Enter your username</label>
          <input type="text" id="username-field-login" />
        </div>
        <div class="form-field">
          <label for="password-field">Enter your password</label>
          <input type="text" id="password-field-login" />
        </div>
        <button id="login-submit-button" type="submit">Log In</button>
      </form>

    </div>

  </section>

</main>

<script src="/js/login.js"></script>